body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}
body {font-size:16px;}

h1 {
	text-align: center;
	color: #000000;
	font-size: 64px;
	font-family: "Poppins", sans-serif
	font-weight: bold;
} 

h2 {

	text-align: left;
	color: #E6C344;
	font-size: 64px;
	font-family: "Poppins", sans-serif
	font-weight: bold;

}

h3 {

	text-align: right;
	color: #E6C344;
	font-size: 64px;
	font-family: "Poppins", sans-serif
	font-weight: bold;

}

h4 {

	text-align: left;
	color: #000000;
	font-size: 35px;
	font-family: "Poppins", sans-serif
	font-weight: bold;

}

